<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenPantry</title>

    <!-- Bootstrap -->
    <link href="css/app.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-xs-right">

          </ul>
        </nav>
        <h3 class="text-muted">OpenPantry</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Welcome To OpenPantry!</h1>
        <p class="lead">OpenPantry is a facebook chatbot that helps you decide what to cook. Using natural languge, tell the bot what you have and what you want, it will help tell you what you can make!</p>
        <p><a class="btn btn-lg btn-success" href="https://www.facebook.com/openpantrymessenger/" role="button">Go To The App</a></p>
      </div>

      <div class="row1">
        <div class="col-lg-6">
          <h4>Add Pantry Items</h4>
          <p>Tell the bot "I have cream cheese" or "I bought chicken".</p>

          <h4>Remove Pantry Items</h4>
          <p>Tell the bot "I used steak" or "I don't have tomato".</p>

          <h4>Check What Is In Your Pantry</h4>
          <p>Ask the bot "Do I have any eggs" or "Do I have cheddar cheese".</p>

        </div>

        <div class="col-lg-6">
          <h4>Get Recipes to Make</h4>
          <p>Tell the bot "I want fish" or "I would like mexican and ground beef".</p>

          <h4>Avoid Allergens</h4>
          <p>Tell the bot "I am allergic to peanuts".</p>

        </div>
      </div>

    

    </div> <!-- /container -->
  </body>
</html>
